* {
    margin: 0%;
    padding: 0%;
}

html,
body {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: #777777;
}

* {
    box-sizing: border-box;
}

/*
 ************************
   HEADER SECTION
 ************************
 */
header {
    padding: 0px 50px;
    border-bottom: 1px solid #777777;
    /* position: fixed; */
    background-color: rgb(230, 0, 0);
    top: 0;
    box-sizing: border-box;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
}

navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

}

navbar div.title a {
    right: 0;
    position: absolute;
    margin-right: 20px;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #0be9aa;
    border-radius: 5px;
    display: none;
}

navbar div.title a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

navbar div.title,
navbr div.nav-menu {
    flex: 1 1 auto;
}

navbar .nav-menu {
    display: block;
}

navbar .nav-menu ul {
    list-style: none;
    padding-left: 0px;
}

navbar .nav-menu ul li {
    display: inline;
    padding: 0px 10px;
}

navbar .nav-menu ul li a {
    text-decoration: none;
    color: #444444;
    font-weight: bold;
    font-size: 16px;
}

navbar .nav-menu ul li a:hover,
navbar .nav-menu ul li a:active {
    color: #00b381;
}

/*
 ************************
   HERO SECTION
 ************************
 */
section.hero {
    /* background-color: #b30000; */
    background-image: url("../img/marvel-nawpic-6-scaled.jpg");
    background-size: 100% auto ;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    height: 250px;
    text-align: center;
    text-shadow: 4px 0 0 grey;
    /* margin-top: 5%; */
}

section.hero div {
    flex: 1;
    padding: 0px 200px;
}

section.hero div h2 {
    font-size: 40px;
    color: rgb(0, 0, 0);
}

/*
 ************************
   SERVICES SECTION
 ************************
 */

section.services {
    padding: 50px;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.services h2 {
    text-align: center;
    padding-bottom: 10px;
    font-size: 35px;
    margin-top: 0px;
}

div.services_container {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.services_container .service {
    box-shadow: 0px 0px 5px #444444;
    text-align: center;
    flex: 2 2 auto;
    margin: 10px;
    padding: 25px;
    height: 90%;
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.services_container .service:nth-child(1) {
    background: rgb(201,0,255);
background: linear-gradient(90deg, rgba(201,0,255,1) 26%, rgba(76,11,254,1) 85%);
    background-size: 100% 100%;
}

.services_container .service:nth-child(2) {
    background: rgb(47,0,255);
background: linear-gradient(90deg, rgba(47,0,255,1) 11%, rgba(254,11,11,1) 93%);
    background-size: 100% 100%;
}

.services_container .service:nth-child(3) {
    background: rgb(255,0,0);
background: linear-gradient(90deg, rgba(255,0,0,1) 11%, rgba(254,248,11,1) 93%);
    background-size: 100% 100%;
}

.services_container .service:nth-child(4) {
    background: rgb(254,248,11);
background: linear-gradient(90deg, rgba(254,248,11,1) 11%, rgba(11,254,19,1) 93%);
    background-size: 100% 100%;
}

.services_container .service h3 {
    color: rgb(0, 0, 0);
}

.services_container .service p {
    color: rgb(0, 0, 0);
}

/* .services_container .service:hover {
    background-color: rgba(128, 128, 128, 0.473);
    color: #fff;
} */

/*
 ************************
   ABOUT US SECTION
 ************************
 */
section.about_us {
    padding: 50px;
    background-color: #00b381;
    text-align: center;
}

section.about_us h2 {
    text-align: center;
    padding-bottom: 10px;
    font-size: 35px;
    margin-top: 0px;
}

/*
 ************************
   CONTACT US SECTION
 ************************
 */
section.contact_us {
    padding: 50px;
    text-align: center;
}

section.contact_us h2 {
    text-align: center;
    padding-bottom: 10px;
    font-size: 35px;
    margin-top: 0px;
}

section.contact_us input,
section.contact_us textarea,
section.contact_us button {
    width: 100%;
    max-width: 768px !important;
    border: 1px solid #444444;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 10px;
    color: #444444;
    box-sizing: border-box;
}

section.contact_us input:focus,
section.contact_us textarea:focus {
    border-color: #00b381;
}

section.contact_us .submit {
    background-color: #00b381;
    margin: 0;
    margin-left: -10px;
    margin-right: -10px;
    cursor: pointer;
}

section.contact_us .submit:hover {
    background-color: #222222;
    color: #f0f0f0;
}

/*
 ************************
  FOOTER SECTION
 ************************
 */
footer {
    background-color: #222222;
    color: #ddd;
    text-align: center;
    padding: 10px 0px;
}

@media(max-width:768px) {
    header.header {
        padding: 0px 20px;
    }

    navbar {
        display: block;
    }

    navbar .title,
    navbar .nav-menu {
        width: 100%;

    }

    navbar div.title {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    navbar div.title a {
        display: block;
    }

    navbar .nav-menu {
        display: none;
    }

    navbar .nav-menu ul li {
        display: block;
        width: 100%;
        padding: 10px 5px;
        border-top: 1px solid #444444;
    }

    section.hero {
        height: 400px;
    }

    section.hero div {
        padding: 0px 50px;

    }

    div.services_container {
        display: block;
    }

    div.services_container .service {
        margin-bottom: 15px;
    }

    section.hero,
    section.services,
    section.about_us,
    section.contact_us {
        padding: 50px 20px;
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
}